
<mat-sidenav-container autosize>
  <mat-sidenav #sidenav [mode]="(sidenavService.isExpanded$ | async) ? 'side' : 'over'" [opened]="sidenavService.isExpanded$ | async">
    <mat-nav-list>

      <mat-list-item [routerLink]="'event'">
        <mat-icon mat-list-icon >event</mat-icon>
        <span *ngIf="sidenavService.isExpanded$ | async">Eventos</span>
      </mat-list-item>

      <mat-list-item [routerLink]="'aboutus'">
        <mat-icon mat-list-icon>info</mat-icon>
        <span *ngIf="sidenavService.isExpanded$ | async">Sobre Nosotros</span>
      </mat-list-item>

    </mat-nav-list>
  </mat-sidenav>

  <div class="content">
    <router-outlet></router-outlet>
  </div>

</mat-sidenav-container>

