/* esto deja un espacio*/
.example-spacer {
    flex: 1 1 auto;
}

.menu-button{
    transition: 300ms ease-in-out;
    transform: rotate(0deg);
}

.menu-button.rotated {
    transform: rotate(180deg);
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container h1{
    font-size: 30px;
}

.logo-image {
    height: 65px; 
    max-height: 100%;
    /*filter: invert(1); /* Invert the colors, turning black to white */
}

.menu-item {
    padding: 0px 16px; /* Add padding for better spacing */
    cursor: default; /* Set the cursor to the default arrow cursor */
    background-color: transparent; /* Set the background to transparent to remove hover effect */
}

 .mat-mdc-menu-item .menu-item{
    cursor: default; /* Set the cursor to the default arrow cursor */
    background-color: transparent; /* Set the background to transparent to remove hover effect */
}

.mat-divider {
    border-top: 1px solid rgba(0, 0, 0, 0.12); /* Customize the divider appearance */
    margin: 5px 5%; /* Add spacing above and below the divider */
}

.name-event{
    font-weight: bold;
}

.menu-item-header{
    display: flex;
    justify-content: center;
}

.old-notification{
    color:grey;
}