header{
    padding:0;
    border-bottom: transparent;
}

a{/* selecciona todos los elementos a (anchor elements) */
    color:  #fea386; 

}

a:hover{ /*cuando te paras arriba pasa esto*/
    background: #cfcbcb;
    color: white; 
}

.container{
    margin:0 auto; /*el primero es vertical y el segundo es horizonatal*/
    display: flex; 
    justify-content: space-between;
    background-color: #f6e4c4;
}

a.logo{
    font-weight: bold;
    padding: 1em; /*padding a los costados*/
}

.login-button {
    border: none; /* Remove default border */
    border-radius: 5px; /* Add rounded corners */
    cursor: pointer; /* Change cursor to pointer on hover */
    color: white;
    background-color: transparent; /* Set the background color to transparent */

}

.login-button img {
    width: 50px; /* Adjust the image width as needed */
    height: 50px; /* Adjust the image height as needed */
}




