

<div class="event-container" fxLayout="row">
        
    <!-- Left Column -->
    <div class="left" fxFlex="50%" fxLayout="column" >
        <h1>Evento</h1>
        <img src="/assets/images/logos/foto.jpeg" alt="Event Image" />
        <div class="apply-button-container">
            <button mat-flat-button class="apply-to-event-button" color="primary" (click)="applyEvent()">
                Postularse
            </button>
        </div>
    </div>

    <!-- Right Column -->
    <div class="right" fxFlex="50%" fxLayout="column">
        <div align="end">
            <button mat-flat-button class="back-button" style="margin-left: auto;" (click)="goBackToEvent()">
                <mat-icon>arrow_back</mat-icon> Regresar
            </button>
        </div>
        <div class="info-column">
            <p>Fecha</p>
            <p>Hora</p>
            <p>Barrio</p>
            <p>Dirección</p>
            <p>Estilo Musical Preferente</p>
            <p>Equipos</p>
            <p>Remunerado</p>
            <p>Descripción: este evento va a aaaaa a a a aaa a a a a a a !</p>
        </div>
    </div>
</div>

