
/* Styling for the event-container */
.event-container {
    display: flex;
    padding: 50px; /* Adjust the padding around the entire container */
    justify-content: center; 
    padding-left: 150px; /* Adjust the padding around the entire container */
    padding-right: 150px; /* Adjust the padding around the entire container */
  }
  
  /* Styling for the left column */
  .left {
    flex: 0 0 auto; /* Prevent the left column from growing to fill space */
    text-align: left; /* Align text and content to the left */
    background-color:#d8efed; /*no pude aplicarlo desde el theme*/
    padding: 40px;
    padding-right: 0px;
  }
  
  .left h1 {
    margin: 0; /* Remove any default margins for the h1 element */
    font-size: 40px; /* Increase the font size of the text */
  }
  
  .left img {
    max-width: 100%; /* Adjust the maximum width of the image */
    height: auto; /* Maintain aspect ratio */
    margin-top: 20px; /* Adjust space above the image */
    margin-bottom: 20px; /* Adjust space below the image */
    border-radius: 1rem;
  }
  
  /* Styling for the right column */
  .right {
    text-align: left; /* Center text horizontally */
    padding: 40px;
    background-color:#d8efed; /*no pude aplicarlo desde el theme*/
  }
  
/* Styling for the button */
.artist {
    display: flex;
    align-items: center;
    padding: 10px 20px; /* Adjust padding to make the button larger */
    text-align: left; /* Align text within the button to the left */
  }
  
  /* Style for the content within the button */
  .artist .button-content {
    display: flex;
    align-items: center;
  }
  
  /* Style for the image within the button */
  .artist img {
    max-width: 70px; /* Increase the maximum width of the image */
    height: auto;
    margin-right: 5px;
    border-radius: 50%; /* Make the image circular */
  }
  
  /* Style for the text within the button */
  .artist span {
    font-size: 30px; /* Increase the font size of the text */
  }
  
.info-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
}

.info-column p {
  margin-bottom: 5px; /* Adjust the margin as needed to reduce spacing between paragraphs */
}

.back-button {
    font-size: 20px; /* Increase the font size of the button contents */
    font-weight: 700;
}

/*todo esto para sacarle los efectos, lo hice usando el inspect y sobreescribiendo*/
.mat-mdc-button:hover{
  background-color: transparent;
  font-weight: bold;
}

.mat-mdc-button:focus{
  background-color: transparent;
}

.mat-mdc-button .mat-button-focus-overlay {
  display: none;
}

.mat-mdc-button, .mat-mdc-outlined-button {
  --mat-mdc-button-persistent-ripple-color: transparent;
  --mat-mdc-button-ripple-color: transparent;
}

