
/* Styling for the event-container */
.event-container {
  display: flex;
  justify-content: center; 
  margin-left: 150px; /* Adjust the padding around the entire container */
  margin-right: 150px; /* Adjust the padding around the entire container */
  margin-top: 20px; /* Adjust the padding around the entire container */
  background-color:white; /*no pude aplicarlo desde el theme*/
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Adjust shadow properties as needed */
}

/* Styling for the left column */
.left {
  flex: 0 0 auto; /* Prevent the left column from growing to fill space */
  text-align: left; /* Align text and content to the left */
  padding: 40px;
  padding-right: 0px;
}

.left h1 {
  margin: 0; /* Remove any default margins for the h1 element */
  font-size: 40px; /* Increase the font size of the text */
}

.left img {
  max-width: 100%; /* Adjust the maximum width of the image */
  height: auto; /* Maintain aspect ratio */
  margin-top: 20px; /* Adjust space above the image */
  margin-bottom: 20px; /* Adjust space below the image */
  border-radius: 1rem;
}

/* Styling for the apply-button-container */
.apply-button-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally within the container */
  margin-top: 10px; /* Adjust the top margin to separate the button from the image */
}

/* Styling for the Postularse button */
.apply-to-event-button {
  font-size: 30px; /* Adjust the font size as needed */
  padding: 20px 20px; /* Add padding to increase button size */
}

/* Styling for the right column */
.right {
  text-align: left; /* Center text horizontally */
  padding: 40px;
}

.info-column{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}

.info-column p {
margin-bottom: 5px; /* Adjust the margin as needed to reduce spacing between paragraphs */
}

.back-button {
  font-size: 20px; /* Increase the font size of the button contents */
  font-weight: 700;
}

