

<div class="event-container" fxLayout="row">
        
    <!-- Left Column -->
    <div class="left" fxFlex="50%" fxLayout="column" >
        <h1>{{event.name}}</h1>
        <img src="eventImageSource || '/assets/images/logos/foto.jpeg'" alt="Event Image" *ngIf="event.picture !== null" />
        <div class="apply-button-container">
            <button mat-flat-button class="apply-to-event-button" color="primary" (click)="applyEvent()">
                Postularse
            </button>
        </div>
    </div>

    <!-- Right Column -->
    <div class="right" fxFlex="50%" fxLayout="column">
        <div align="end">
            <button mat-flat-button class="back-button" style="margin-left: auto;" (click)="goBackToEvent()">
                <mat-icon>arrow_back</mat-icon> Regresar
            </button>
        </div>
        <div class="info-column">
            <p>Fecha: {{event.date | date:'dd/MM/yy'}}</p>
            <p>Hora: {{formatTime(event.time)}}</p>
            <p>Barrio: {{event.neighborhood}}</p>
            <p>Dirección: {{event.location}}</p>
            <p>Estilo Musical Preferente: {{event.genrePreffered}}</p>
            <p>Equipos: {{event.equuipment}}</p>
            <p>Remunerado:
                <ng-container *ngIf="event.paid">
                    ✓
                </ng-container>
                <ng-container *ngIf="!event.paid">
                    ✕                     
                </ng-container>
            </p>
            <p>Descripción: {{event.description}}</p>
        </div>
    </div>
</div>

