

<div class="total-width">
    <div class="container" fxLayout="row">
            
        <!-- Left Column -->
        <div class="left" fxFlex="50%" fxLayout="column" >
            <img class="image" src="/assets/images/logos/foto_equipo.jpg" alt="Event Image" />
        </div>

        <!-- Right Column -->
        <div class="right" fxFlex="50%" fxLayout="column">
            <div class="info-column">
                <h1>¿Quiénes Somos?</h1>
                <p>Somos un grupo de tres apasionadas desarrolladoras que compartimos una visión común: ayudar a la comunidad musical de Uruguay a prosperar. Nos apasiona la música y creemos en el poder de la tecnología para impulsar oportunidades y unir a artistas y negocios locales.</p>
                <p>En LiveTune, nos esforzamos por crear un espacio donde la música sea celebrada, donde los músicos puedan encontrar oportunidades y donde los negocios puedan descubrir talento local de manera más accesible y efectiva.</p>
                <p>Gracias por unirte a nosotros en esta emocionante aventura musical en LiveTune. ¡Esperamos ser tu puente hacia nuevas oportunidades y experiencias musicales inolvidables!</p>
            </div>
        </div>
    </div>
</div>

