<mat-nav-list>
    <mat-list-item [disableRipple]="true" *ngFor="let event of events"> 
        <div class="event-container" fxLayout="row">
            
            <!-- Left Column -->
            <div class="left" fxFlex="33%" fxLayout="column">
                <h1>{{event.name}}</h1>
                <img src="/assets/images/logos/foto.jpeg" alt="Event Image" />
            </div>

            <mat-divider vertical></mat-divider> <!-- Vertical divider between columns -->

            <!-- Middle Column -->
            <div class="middle" fxFlex="33%" fxLayout="column">
                <div class="info-column">
                    <p>Fecha: {{event.date | date:'dd/MM/yy'}}</p> 
                    <p>Hora: {{event.time}}</p>
                    <p>Dirección: {{event.location}}</p>
                    <p>Estilo Musical: {{event.genrePreffered}}</p>
                    <p>Equipos disponibles: {{event.equipment}}</p>
                    <p>Remunerado:
                        <ng-container *ngIf="event.paid">
                            ✓
                        </ng-container>
                        <ng-container *ngIf="!event.paid">
                            ✕                     
                        </ng-container>
                    </p>
                    <p>Descripción: {{event.description}}</p>
                </div>
            </div>

            <mat-divider vertical></mat-divider> <!-- Vertical divider between columns -->

            <!-- Right Column -->
            <div class="right" fxFlex="33%" fxLayout="column">
                <div class="business-info"> <!--aca hay que hacer un for de todas las postulaciones-->
                    <h1>Contacto de Local:</h1>
                    <div class="business-info-format" fxLayout="row">
                        <p>Nombre: {{event.business.name}}</p> 
                        <p>Teléfono: {{event.business.phone}}</p>
                        <p>Mail: {{event.business.user.email}}</p>
                    </div>
                </div>
            </div>

        </div>
    </mat-list-item>
</mat-nav-list>
