<mat-nav-list>
    <mat-list-item [disableRipple]="true" *ngFor="let event of events"> 
        <div class="event-container" fxLayout="row">
            
            <!-- Left Column -->
            <div class="left" fxFlex="33%" fxLayout="column">
                <h1 class="name">{{ event.name }}</h1>
                <div class= "image-container">
                    <img src="{{getSource(event)}}" alt="Event Image" />
                </div>
            </div>

            <mat-divider vertical></mat-divider> <!-- Vertical divider between columns -->

            <!-- Middle Column -->
            <div class="middle" fxFlex="33%" fxLayout="column">
                <div class="info-column">
                    <div class="info-row">
                        <mat-icon class="date-icon">event</mat-icon> <!-- Date icon -->
                        <p class="date">{{ event.date | date:'dd/MM/yy' }}</p>
                    </div>
                    <div class="info-row">
                        <mat-icon class="time-icon">access_time</mat-icon> <!-- Time icon -->
                        <p class="time">{{ formatTime(event?.time?.toString() || null)}}</p>
                    </div>
                    <div class="info-row">
                        <mat-icon class="location-icon">location_on</mat-icon> <!-- Location icon -->
                        <p class="neighbourhood-place">{{ event.neighborhood }} - {{ event.location }}</p>
                    </div>
                    <div class="info-row" *ngIf="event?.genrePreffered">
                        <mat-icon class="style-icon">music_note</mat-icon> <!-- Music icon -->
                        <p class="style">{{ event.genrePreffered }}</p>
                    </div>
                    <div class="info-row">
                        <mat-icon class="payment-icon">attach_money</mat-icon> <!-- Payment icon -->
                        <p class="payment">Remunerado:
                            <ng-container *ngIf="event.paid"> ✓ </ng-container>
                            <ng-container *ngIf="!event.paid"> ✕ </ng-container>
                        </p>
                    </div>                    
                    <div class="info-row-text" *ngIf="event?.equipment">
                        <p class="equipment">
                            <span class= "bold">Equipos disponibles: </span>
                            <span>{{ event.equipment }}</span>
                        </p>
                    </div>
                    <div class="info-row-text" *ngIf="event?.description">
                        <p class="description">
                            <span class= "bold">Descripción: </span>
                            <span>{{ event.description }}</span>
                        </p>
                    </div>
                </div>
            </div>            

            <mat-divider vertical></mat-divider> <!-- Vertical divider between columns -->

            <!-- Right Column -->
            <div class="right" fxFlex="33%" fxLayout="column">
                <div class="applications"> <!--aca hay que hacer un for de todas las postulaciones-->
                    <h1>Postulaciones:</h1>
                    <ul class= "for" *ngFor="let application of event.applications">
                        <div class="application-format" fxLayout="row">
                            <button mat-button class="artist" (click)="goToArtist()">
                                <div class="button-content">
                                    <img src="/assets/images/logos/login.png" alt="Profile Image" />
                                    <span> {{ application.artist.artisticName }} </span>
                                </div>
                            </button>
                            <div align="end">
                                <button mat-raised-button class="confirm">
                                    <span>Confirmar</span>
                                    <mat-icon>check</mat-icon>
                                </button>
                            </div>
                        </div>                   
                    </ul>
                    <div class="no-applications" *ngIf="event.applications?.length === 0"> 
                        <span>Aun no hay postulaciones</span>
                    </div>     
                </div>
            </div>

        </div>
    </mat-list-item>
</mat-nav-list>