<mat-nav-list>
    <mat-list-item [disableRipple]="true" *ngFor="let event of events"> 
        <div class="event-container" fxLayout="row">
            
            <!-- Left Column -->
            <div class="left" fxFlex="33%" fxLayout="column">
                <h1>Evento</h1>
                <img src="event.picture" alt="Event Image" />
            </div>

            <mat-divider vertical></mat-divider> <!-- Vertical divider between columns -->

            <!-- Middle Column -->
            <div class="middle" fxFlex="33%" fxLayout="column">
                <div class="info-column">
                    <p>Fecha: {{ event.date }}</p> 
                    <p>Hora: {{ event.time }}</p>
                    <p>Lugar:{{ event.location }}</p>
                    <p>Estilo Musical: {{ event.genrePreffered }}</p>
                    <p>Equipos disponibles: {{ event.equipment }}</p>
                    <p>Remunerado: {{ event.paid }}</p>
                    <p>Descripción: {{ event.description }}</p>
                </div>
            </div>

            <mat-divider vertical></mat-divider> <!-- Vertical divider between columns -->

            <!-- Right Column -->
            <div class="right" fxFlex="33%" fxLayout="column">
                <div class="applications"> <!--aca hay que hacer un for de todas las postulaciones-->
                    <h1>Postulaciones:</h1>
                    <div class="application-format" fxLayout="row">
                        <button mat-button class="artist"> 
                            <div class="button-content">
                                <img src="/assets/images/logos/login.png" alt="Profile Image" />
                                <span>Nombre Artista</span>
                            </div>
                        </button>
                        <div align="end">
                            <button mat-raised-button class="confirm"> 
                                <span>Confirmar</span>
                                <mat-icon>check</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </mat-list-item>
</mat-nav-list>
