
<div class= "container" fxLayout="column">
    <div class="profile-container" fxLayout="row">
            
        <!-- Left Column -->
        <div class="left" fxFlex="50%" fxLayout="column" >
            <img src="/assets/images/logos/default-profile.webp" alt="Event Image" />
        </div>

        <!-- Right Column -->
        <div class="right" fxFlex="50%" fxLayout="column">
            <div class="info-column">
                <h1>{{artisticName}}</h1> <!--nombre artistico-->
                <div class="style" fxLayout= "row">
                    <mat-icon matSuffix>music_note</mat-icon>
                    <p>{{musicGenre}}</p> <!--estilo musical-->
                </div>
                <p>{{description}}</p>             
                <a [href]="instagramLink" target="_blank">
                    <button mat-button class="instagram">
                        <div class="button-content">
                            <img class="logo" src="/assets/images/logos/instagram-logo.webp" alt="Instagram" />
                            <span>{{instagramTag}}</span>
                        </div>
                    </button>
                </a>
                <div class= "links">
                    <p>Links:</p> <!--este no suplantarlo-->
                    <div *ngFor="let link of links; let i = index" fxLayout="row">
                        <button mat-button class="link-button">
                            <a [href]="link" target="_blank">
                                <mat-icon>link</mat-icon>
                            </a>
                        </button>
                    </div>
                </div>
            </div>
            <div class="edit-button">
                <button class="edit" mat-raised-button (click)="editProfile()" color="primary">
                    Editar Perfil
                </button>
            </div>
        </div>

    </div>

    <mat-divider></mat-divider>

    <div class= "video-container">
        <video controls class="video">
            <source src="/assets/videos/sing.mp4" type="video/mp4">
            Tu navegador no soporta este video
        </video>
    </div>

</div>