

<div class="event-container" fxLayout="row">
        
    <!-- Left Column -->
    <div class="left" fxFlex="50%" fxLayout="column" >
        <h1>Evento</h1>
        <img src="/assets/images/logos/foto.jpeg" alt="Event Image" />
        <button mat-button class="artist" (click)="goToArtist()">
            <div class="button-content">
                <img src="/assets/images/logos/login.png" alt="Profile Image" />
                <span>Nombre Artista</span>
            </div>
        </button>
    </div>

    <!-- Right Column -->
    <div class="right" fxFlex="50%" fxLayout="column">
        <div align="end">
            <button mat-flat-button class="back-button" style="margin-left: auto;" (click)="goBackToEvent()">
                <mat-icon>arrow_back</mat-icon> Regresar
            </button>
        </div>
        <div class="info-column">
            <p>Lugar: Hola como estas yo bien y vos</p>
            <p>Fecha:</p>
            <p>Hora:</p>
            <p>Ubicación:</p>
            <p>Estilo Musical:</p>
            <p>Descripción: este evento va a aaaaa a a a aaa a a a a a a !</p>
            <div class="link" fxLayout="row">
                Link:
                <button mat-button class="link-button">
                    <a [href]="link" target="_blank">
                        <mat-icon>link</mat-icon>
                    </a>
                </button>
            </div>
        </div>
    </div>
</div>

