<button mat-icon-button style="float:right; margin: 5px" matDialogClose>
    <mat-icon>close</mat-icon>
</button>
<mat-dialog-content>
    <header>
        <h1>Login</h1>
    </header>
    <p><!--define un parrafo-->
        <mat-form-field class="mail">
            <input matInput placeholder="Email">
            <mat-icon matSuffix>drafts</mat-icon>
        </mat-form-field>
    </p>
    <p><!--define un parrafo-->
        <mat-form-field>
            <input matInput placeholder="Password">
            <mat-icon matSuffix>lock</mat-icon> <!--el icono que aparece al lado-->
        </mat-form-field>
    </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button color="primary">Login</button>
    <button mat-raised-button color="warm" matDialogClose>Cancel</button>
</mat-dialog-actions>