.login-message {
    color: red;
}
.custom-snackbar {
    background-color: rgb(240, 165, 223) !important; /* Change to your desired background color */
    color: #0004f1 !important; /* Change to your desired text color */
}

mat-dialog-content{
  width: 100%;
  text-align: center;
}

mat-error {
  color: red;
}

.mail,
.password {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
