<div>
    <form [formGroup]="profileForm">
        <mat-dialog-content>
            <div class="row">
                <h2>Editar Perfil</h2>
                <button mat-icon-button class="right-align" matDialogClose>
                    <mat-icon>close</mat-icon>
                </button>
            </div>
            <div class="row"> 
                <div class="col1">
                    <img src="{{selectedImage}}" alt="Artist Image" [ngClass]="{'profile-picture': hasProfilePicture, 'default-image': !hasProfilePicture}">
                </div>

                <div class="col">
                    <div class="row">
                        <mat-form-field>
                            <mat-label>Nombre Artístico</mat-label>
                            <input matInput [(ngModel)]="artisticName" name="artisticName" formControlName="artisticName">
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <mat-form-field>
                            <mat-label>Usuario de Instagram</mat-label>
                            <input matInput [(ngModel)]="igUsername" name="igUsername" formControlName="igUsername">
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <mat-form-field>
                            <mat-label>Links</mat-label>
                            <input matInput [(ngModel)]="links" name="links" formControlName="links">
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class= "col1">
                    <div class= "upload-picture">
                        <input type="file" accept="image/*" #fileInput (change)="onImageSelected($event)"> 
                        <div class="unselect-button" *ngIf="hasProfilePicture" align= "start">
                            <button mat-raised-button color="white" (click)="clearSelectedImage()">
                                <mat-icon matSuffix>delete</mat-icon>
                                Eliminar imagen
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <mat-form-field>
                        <mat-label>Género musical</mat-label>
                        <mat-select id="artistGenre" [(value)]="musicGenre" [(ngModel)]="musicGenre" name="musicGenre" formControlName="musicGenre">
                            <mat-option value="pop">Pop</mat-option>
                            <mat-option value="rock">Rock</mat-option>
                            <mat-option value="jazz">Jazz</mat-option>
                            <mat-option value="clásica">Clásica</mat-option>
                            <mat-option value="alternativo">Alternativo</mat-option>
                            <mat-option value="indie">Indie</mat-option>
                            <mat-option value="cumbia">Cumbia</mat-option>
                            <mat-option value="rap/trap">Rap/Trap</mat-option>
                            <mat-option value="otro">Otro</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <mat-form-field>
                    <mat-label>Descripción</mat-label>
                    <textarea matInput [(ngModel)]="description" name="description" formControlName="description"></textarea>
                </mat-form-field>
            </div>
            <div class="buttons">
                <button mat-raised-button color="warn" class="button" matDialogClose>Cancelar</button>
                <button mat-raised-button class="button" color="primary" (click)="editar()">Confirmar</button>
            </div>
        </mat-dialog-content>
    </form>
</div>