

.button-container{
  justify-content: space-between;
  display: flex;
}

.description{
  width: 100%;
}

.title{
  margin-top: 10px;
  width: 100%;
}

h1{
  justify-content: center;
  display: flex;
}
