<mat-dialog-content [formGroup]="form">
  <h1 class="title">Postulación</h1>
  <mat-form-field class="description">
    <mat-label>Escriba una descripción o mensaje</mat-label>
    <textarea matInput placeholder="Descripción" name="description" formControlName="description"></textarea>
  </mat-form-field>

  <mat-dialog-actions class="button-container">
    <div class="cancel">
      <button mat-raised-button color="primary" matDialogClose>Cancelar</button>
    </div>
    <div class="apply">
      <button mat-raised-button color="primary" (click)="onPostApplication()">Postularme</button>
    </div>
  </mat-dialog-actions>
</mat-dialog-content>