
<div class="filter-container">
    <span class="filter-text">Aplicar filtros:</span>
    <app-filter-ubicacion></app-filter-ubicacion>
    <app-filter-mes></app-filter-mes>
    <app-filter-local></app-filter-local>
    <app-filter-estilo></app-filter-estilo>
</div>

<mat-nav-list>
    <mat-list-item *ngFor="let event of events" (click)="onEventClick(event.id)">
        <a>
            <img [src]="event.picture" alt="Event Image">
            <!--<img [src]="event.imageUrl" alt="Event Image">-->
            <div class="content">
                <div class="date">{{ event.date | date:'dd/MM/yy'}}</div>
                <div class="name">{{ event.name }}</div>
                <div class="location">{{ event.location }}</div>
                <!--<div class="place">{{ event.place }}</div>-->
            </div>
        </a>
    </mat-list-item>   
</mat-nav-list>

