/* Apply styles to the Angular Material list */
mat-nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    list-style-type: none;
  }
  
  /* Apply styles to the Angular Material list items */
mat-list-item {
    height: 25rem !important;
    width: 25rem;
    border: 1px solid rgba(0, 0, 0, 0.1); /* Use a lighter border color */
    border-radius: 1rem;
    margin: 0.5rem;
    display: flex;
    color: white;
    transition: opacity 0.2s ease;
}

mat-list-item img {
    height: 70%; /* Adjust the height as needed */
    width: 100%; /* Ensure the image maintains its aspect ratio */
}

mat-list-item .content {
    height: 30%; /* Adjust the height as needed */
    width: 100%; /* Ensure the image maintains its aspect ratio */
    overflow: auto; /* Add scrollbars if necessary for overflow content */
    word-wrap: break-word; /* Allow text to break/wrap to the next line when needed */
    white-space: normal; /* Allow text to wrap within the container */
    align-items: center;
}

  /* Adjust hover styles for Angular Material list items */
mat-list-item:hover {
    opacity: 0.9;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
  
  /* Adjust typography styles for Angular Material list items */
mat-list-item .name {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}
  
  /* Adjust styles for smaller text in Angular Material list items */
mat-list-item .date,
mat-list-item .place {
  font-size: 14px;
}

.filter-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end; /* Horizontally align items to the right */
    align-items: center; /* Vertically center items */
    padding-top: 30px;
}

/* Add spacing between filter components */
.filter-container app-filter-ubicacion,
.filter-container app-filter-mes,
.filter-container app-filter-local,
.filter-container app-filter-estilo {
    margin-right: 10px; /* Adjust the spacing as needed */
}

.filter-text{
    margin-right: 10px; /* Adjust the spacing as needed */
    align-items: center; /* Vertically center items */
    display: flex; /* Use flexbox for vertical centering */
    vertical-align: middle; /* Vertically align the text */
    font-weight: 900;
}
