<ul>
    <li *ngFor="let event of events"> <!--for por si tuviera mas fotos-->
        <a> <!--agregamos esto para que sea anchor, sino no se le aplica el css .a-->
            <img src ="{{event.picture}}" alt="">
            <div class = "content">
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
                <div class= "date"> 
                    {{event.date}}
                </div>
                <div class="name"> 
                    {{event.name}}
                </div>
                <div class= "place"> 
                    {{event.location}}
                </div>
            </div>
        </a>
    </li>
</ul>

<!--
    <ul>: This is an unordered list element, typically used for creating a bullet-pointed list.

    <li *ngFor="let food of foods">: This line represents an HTML list item (<li>) that is generated dynamically using the *ngFor directive. It iterates over an array or iterable called foods, creating a list item for each element in the foods array.
        
    *ngFor="let food of foods": This is the *ngFor directive. It iterates over the foods array, assigning each element to the variable food in each iteration. This variable can then be used within the <li> block.        <img src="{{food}}" alt="">: Inside each list item, an <img> element is used to display an image. The src attribute is set to {{food}}, which means it dynamically binds the value of the food variable (the current item in the iteration) to the src attribute. This assumes that each item in the foods array contains the URL of an image.
        
    alt="": The alt attribute is typically used to provide alternative text for screen readers and in cases where the image cannot be displayed. In this code, it's left empty, but you can replace it with descriptive text if needed.
-->
    