
<div class="filter-container">
    <span class="filter-text">Aplicar filtros:</span>
    <app-filter-ubicacion></app-filter-ubicacion>
    <app-filter-mes></app-filter-mes>
    <app-filter-local></app-filter-local>
    <app-filter-estilo></app-filter-estilo>
    <button mat-raised-button class="remove-filters">
        <mat-icon matSuffix>
            delete
        </mat-icon>
        Eliminar Filtros
    </button>
</div>

<mat-nav-list>
    <mat-list-item *ngFor="let event of events" (click)="onEventClick(event.id)">
        <a>
            <img [src]=" 'data:image/png;base64,'+ event.picture " alt="Event Image">
            <div class="content">
                <div class="date">{{ event.date | date:'dd/MM/yy'}}</div>
                <div class="name">{{ event.name }}</div>
                <div class="location">{{ event.location }}</div>
            </div>
        </a>
    </mat-list-item>   
</mat-nav-list>

