<mat-dialog-content>
    <button mat-icon-button style="float:right; margin: 5px" matDialogClose>
        <mat-icon>close</mat-icon>
    </button>
    <header>
        <h1 class="title">Términos y Condiciones</h1>
    </header>
    <div class="text">
        <p style="white-space: pre-line;">
            <strong>Introducción</strong><br>
            Bienvenido a LiveTune. Estos Términos y Condiciones de Uso son un acuerdo legal entre usted y el servicio
            LiveTune. Al acceder y utilizar nuestra plataforma, usted acepta y se
            compromete a cumplir con estos Términos. Lea detenidamente estos Términos antes de utilizar nuestros
            servicios.
        </p>
        <p style="white-space: pre-line;">
            <strong>1. Naturaleza de la Plataforma</strong><br>
            LiveTune opera como una plataforma en línea que conecta a artistas con negocios para facilitar
            presentaciones en vivo. Sin embargo, LiveTune no se encarga de la elaboración de contratos, acuerdos de
            remuneración o pagos entre los artistas y los negocios. No somos parte de tales acuerdos y no asumimos
            ninguna responsabilidad con respecto a los mismos.
        </p>
        <p style="white-space: pre-line;">
            <strong>2. Cumplimiento Legal</strong><br>
            Reconocemos y respetamos la Ley 17250 de Defensa del Consumidor de Uruguay y nos comprometemos a promover el
            cumplimiento de esta ley por parte de nuestros usuarios. Esperamos que tanto artistas como negocios cumplan
            con todas las obligaciones legales aplicables al utilizar nuestra plataforma.
        </p>
        <p style="white-space: pre-line;">
            <strong>3. Limitación de Responsabilidad</strong><br>
            LiveTune no será responsable de ninguna disputa, daño, pérdida o incumplimiento de contrato que surja entre
            los usuarios de la plataforma. Al utilizar nuestros servicios, los usuarios aceptan liberar a LiveTune de
            cualquier responsabilidad legal relacionada con tales disputas.
        </p>
        <p style="white-space: pre-line;">
            <strong>4. Protección de Datos</strong><br>
            LiveTune se adhiere a la Ley 18331 de Protección de Datos Personales de Uruguay. Nos comprometemos a
            proteger la privacidad y la información de nuestros usuarios de acuerdo con la legislación de privacidad
            aplicable.

            En LiveTune, recopilamos y almacenamos datos personales proporcionados por nuestros usuarios en una base de
            datos segura. Para garantizar la transparencia y el cumplimiento legal, obtenemos el consentimiento
            informado de los usuarios al aceptar nuestros Términos y Condiciones. Es importante destacar que, con el
            objetivo de
            facilitar la comunicación y coordinación entre músicos y locales en el contexto de los eventos, podemos
            mostrar algunos datos de contacto. Esto se aplica cuando un artista es aceptado para un evento, permitiendo
            al
            negocio conocer información del artista seleccionado y al artista saber información del negocio al que
            pertenece el
            evento. El acceso a esta información se limita a las partes directamente involucradas y se realiza de
            acuerdo con las regulaciones de privacidad y protección de datos. LiveTune garantiza la confidencialidad y
            seguridad
            de los datos personales de los usuarios en todo momento.
        </p>
        <p style="white-space: pre-line;">
            <strong>5. Información de Contacto</strong><br>
            Para cualquier pregunta, preocupación o comentario relacionado con estos Términos y Condiciones puede
            comunicarse con nosotros en la siguiente dirección de correo electrónico: soporte@livetune.com.
        </p>
        <p style="white-space: pre-line;">
            <strong>6. Modificaciones y Actualizaciones</strong><br>
            LiveTune se reserva el derecho de modificar estos Términos y Condiciones en cualquier momento. Los usuarios
            serán notificados de tales cambios, y es responsabilidad del usuario revisar periódicamente estos Términos
            para asegurarse de que continúan cumpliendo con sus obligaciones legales al utilizar la plataforma. Además,
            LiveTune se reserva el derecho a dar de baja a usuarios en casos de incumplimiento flagrante de estos
            Términos y Condiciones o cuando sean reportados por otros usuarios por conductas que violen nuestras
            políticas y normas de uso.
        </p>
        <p style="white-space: pre-line;">
            <strong>Al utilizar LiveTune, usted acepta estos Términos y Condiciones y se compromete a cumplir con ellos.
                Si no está de acuerdo con estos Términos, no utilice nuestros servicios.</strong><br>
        </p>
        <p>
            Fecha de entrada en vigencia: 6/11/2023
        </p>
    </div>
</mat-dialog-content>