<mat-dialog-content>
    <button mat-icon-button style="float:right; margin: 5px" matDialogClose>
        <mat-icon>close</mat-icon>
    </button>
    <header>
        <h1 class="title">Términos y Condiciones</h1>
    </header>
    <div class= "text">
        By accessing and utilizing this website, you are expressly agreeing to comply with and be legally bound by the following Terms and Conditions. If you do not accept these terms, please refrain from using this website. We retain the right to modify and update these Terms and Conditions at our discretion, and your continued use of the website constitutes your acceptance of any such modifications.

        All content on this website, including text, graphics, images, and other materials, is provided for informational purposes only. You may not modify, reproduce, distribute, or republish any of this content without obtaining our prior written consent. Some features or services on this website may require user registration. You pledge to provide accurate and complete information during registration and are responsible for safeguarding the confidentiality of your account and password.

        You further agree not to use this website for any unlawful or prohibited purposes, and you must refrain from uploading or transmitting any content that is offensive, harmful, or in violation of the rights of others. Your use of this website is subject to our Privacy Policy.

        Any trademarks, logos, and service marks presented on this website remain the property of their respective owners and are protected by intellectual property laws. You are prohibited from using, copying, or reproducing these without the owner's express consent.

        This website may contain links to third-party websites; however, we do not endorse, control, or guarantee the content of these websites. Accessing third-party websites is at your own discretion and risk. We disclaim all warranties and representations regarding the accuracy and completeness of the website's content and shall not be held liable for any direct, indirect, incidental, consequential, or punitive damages arising from your use of this website.

        We reserve the right to terminate or suspend your access to this website without notice for any reason. These Terms and Conditions are subject to the laws of [Your Jurisdiction], and any disputes arising under these Terms and Conditions shall be subject to the exclusive jurisdiction of the courts in [Your Jurisdiction].
    </div>
</mat-dialog-content>
