
mat-dialog-content{
  width: 100%;
  text-align: center;
  height: 100%;
}

.column1, .column2 {
  justify-content: space-between;
  flex: 1;
}

.column1{
  margin-right: 20px;
}

.full-width {
  width: 100%;
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.two-column-form {
  display: flex;
  flex-wrap: wrap;
}

.notification{
  color: red;
}

.changePassword {
  display: flex;
  justify-content: space-between; /* Space evenly between columns */
  width: 100%;
}

.col1, .col2 {
  flex: 1; /* Equal width columns */  
  display: flex;
}

.col1 {
  margin-right: 20px; /* Add margin between columns if desired */
}

.password-button{
  margin-bottom: 20px;
}


