<button mat-icon-button style="float:right; margin: 5px" matDialogClose>
    <mat-icon>close</mat-icon>
</button>
<mat-dialog-content>
    <header>
      <h1 class="mat-headline-1">Mi Cuenta</h1>
    </header>
    <form class="two-column-form" fxLayout="row">
      <!-- Left Column -->
      <div class="column1">
        <mat-form-field class="full-width">
          <input matInput placeholder="Nombre" [(ngModel)]="name" name="name"  #nameInput="ngModel" (ngModelChange)="onNameChange()">
          <mat-icon matSuffix>account_circle</mat-icon>
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput placeholder="Telefono" [(ngModel)]="phone" name="phone" #phoneInput="ngModel" (ngModelChange)="onPhoneChange()">
            <mat-icon matSuffix>phone</mat-icon>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput placeholder="Mail" [(ngModel)]="mail" name="mail" #mailInput="ngModel" (ngModelChange)="onMailChange()">
          <mat-icon matSuffix>mail</mat-icon>
        </mat-form-field>
      </div>
      <!-- Right Column -->
      <div class="column2">
        <mat-form-field class="full-width">
          <input matInput placeholder="Nombre legal" [(ngModel)]="legalName" name="legalName" #legalNameInput="ngModel" (ngModelChange)="onLegalNameChange()">
          <mat-icon matSuffix>business</mat-icon>
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput placeholder="Direccion" [(ngModel)]="location" name="location" #locationInput="ngModel" (ngModelChange)="onLocationChange()">
            <mat-icon matSuffix>location_on</mat-icon>
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput placeholder="Rut" [(ngModel)]="rut" [readonly]="true" name="rut" #rutInput="ngModel" (ngModelChange)="onRutChange()">
            <mat-icon matSuffix>account_balance</mat-icon>
        </mat-form-field>
      </div>
      <mat-form-field class="full-width">
        <input matInput placeholder="Página web" [(ngModel)]="webPage" name="webPage" #webPageInput="ngModel" (ngModelChange)="onWebPageChange()">
        <mat-icon matSuffix>link</mat-icon>
    </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Descripción</mat-label>
        <textarea matInput [(ngModel)]="description" name="description" #descriptionInput="ngModel" (ngModelChange)="onDescriptionChange()"></textarea>
        <mat-icon matSuffix>description</mat-icon>
      </mat-form-field>
      <button class="password-button" mat-raised-button (click)="changePassword()">
        Cambiar contraseña
      </button>
      <div class="changePassword" *ngIf="showPassword" fxLayout= "row">
        <!-- Column 1 -->
        <div class="col1">
          <mat-form-field class="full-width">
            <mat-label>Contraseña</mat-label>
            <input matInput [type]="passwordInputType1" [(ngModel)]="password" placeholder="Contraseña" name="password" #passwordInput="ngModel" (ngModelChange)="onPasswordChange()">
            <button mat-icon-button matSuffix type="button" (click)="togglePasswordVisibility1()">
              <mat-icon>{{ hidePassword1 ? 'visibility_off' : 'visibility' }}</mat-icon>            
            </button>
          </mat-form-field>
        </div>
        <!-- Column 2 -->
        <div class="col2">
          <mat-form-field class="full-width">
            <mat-label>Repetir contraseña</mat-label>
            <input matInput [type]="passwordInputType2" [(ngModel)]="password2" placeholder="Contraseña" name="password2" #password2Input="ngModel" (ngModelChange)="onPassword2Change()">
            <button mat-icon-button matSuffix type="button" (click)="togglePasswordVisibility2()">
              <mat-icon>{{ hidePassword2 ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </div>   
    </form>
    <div class="notification">
        <p *ngIf="showNotification">
          Los campos no han sido modificados, intente nuevamente.
        </p>
    </div>
    <div class="notification">
      <p *ngIf="showNotification2">
        Las contraseñas ingresadas no coinciden, intente nuevamente.
      </p>
    </div>
    <div class="actions">
      <button mat-raised-button color="primary" (click)="goToPopUp()">Editar</button>
    </div>
</mat-dialog-content>
  