<div class="full-width">
    <h1>Postularse a Eventos</h1>
</div>
<div class="filter-container" *ngIf="!noEventsMessageVisible">
    <span class="filter-text">Aplicar filtros:</span>
    <app-filter-ubicacion-artist></app-filter-ubicacion-artist>
    <app-filter-mes-artist></app-filter-mes-artist>
    <app-filter-local-artist></app-filter-local-artist>
    <app-filter-estilo-artist></app-filter-estilo-artist>
</div>

<mat-nav-list> 
    <span class="no-events" *ngIf="noEventsMessageVisible">Aún no hay eventos</span>
    <mat-list-item *ngFor="let event of events" (click)="onEventClick(event.id)"> 
        <div class="container" fxLayout="column">
            <div class="image-container">
                <img src="{{getSource(event)}}" alt="Event Image">
            </div>
            <div class="content">
                <div class= "text-container">
                    <div class="date">{{ event.date | date:'dd/MM/yy'}}</div>
                    <div class="name">{{ event.name }}</div>
                    <div class="location">{{ event.location }}</div>
                </div>
            </div>
        </div>
    </mat-list-item>   
</mat-nav-list>