/* Apply styles to the Angular Material list */
mat-nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    list-style-type: none;
  }
  
  /* Apply styles to the Angular Material list items */
mat-list-item {
    height: 420px !important;
    width: 400px;
    border-radius: 1rem;
    margin: 10px;
    display: flex;
    color: white;
    transition: opacity 0.2s ease;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Adjust shadow properties as needed */

}

.mat-list-item .container {
  flex-direction: column; /* Display content in a column */
  display: flex;
  align-items: flex-start; /* Align the content at the top of the container */
}


mat-list-item .image-container {
  height: 260px; /* Maximum height for the image container */
  display: flex;
  align-items: center; /* Center the image horizontally */
  justify-content: center; /* Center the image vertically */
  background-color: black;
  border-radius: 0.7rem;
  margin-bottom:20px;
}

mat-list-item img {
  max-width: 100%; /* Maximum width for the image */
  max-height: 100%; /* Allow the image to occupy the entire height of the container */
  width: auto; /* Reset the width to auto to maintain aspect ratio */
  height: auto; /* Reset the height to auto to maintain aspect ratio */
  object-fit: contain; /* Scale the image to fit inside the container while maintaining aspect ratio */
  margin:0;
  padding:0;
}

.content {
  height: 100%;
  max-width: 100%; /* Ensure the image maintains its aspect ratio */
  align-items: center;
  display: flex;
  flex-grow: 1; /* Make the text container take up all available space */
}

.text-container {
  display: flex;
  flex-direction: column;
  max-width: 100%; /* Ensure the image maintains its aspect ratio */
  align-items: flex-start; /* Align the text to the start (left) of the container */  
}

.date, .name, .location{
  max-width: 100%;
  overflow: hidden; /* Hide text that overflows the container */
  text-overflow: ellipsis; /* Display an ellipsis for overflowing text */
  white-space: nowrap; /* Prevent text from wrapping */
  display:block;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* Adjust hover styles for Angular Material list items */
mat-list-item:hover {
    opacity: 0.9;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.1); /* Use a lighter border color */
}
  
  /* Adjust typography styles for Angular Material list items */
mat-list-item .name {
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
}
  
  /* Adjust styles for smaller text in Angular Material list items */
mat-list-item .date,
mat-list-item .location {
  font-size: 18px;
}

.filter-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end; /* Horizontally align items to the right */
    align-items: center; /* Vertically center items */
    padding-top: 30px;
}

/* Add spacing between filter components */
.filter-container app-filter-ubicacion-artist,
.filter-container app-filter-mes-artist,
.filter-container app-filter-local-artist,
.filter-container app-filter-estilo-artist {
    margin-right: 10px; /* Adjust the spacing as needed */
    align-items: center; /* Vertically center items */
    display: flex; /* Use flexbox for vertical centering */
    vertical-align: middle; /* Vertically align the text */
}

.filter-text{
    margin-right: 10px; /* Adjust the spacing as needed */
    align-items: center; /* Vertically center items */
    display: flex; /* Use flexbox for vertical centering */
    vertical-align: middle; /* Vertically align the text */
    font-weight: 900;
    padding-bottom: 20px; /*lo tuve que centrar asi*/
}
