@use '@angular/material' as mat;
@import '@angular/material/theming';
@include mat-core();


//typography

$custom-typography: mat.define-typography-config(
  $font-family: 'Poppins',
  $headline-1: mat.define-typography-level(32px, 48px, 2000, $letter-spacing: .2rem),
  $headline-2: mat.define-typography-level(28px, 40px, 700), 
  $headline-3: mat.define-typography-level(24px, 32px, 700), 
  $headline-4: mat.define-typography-level(20px, 28px, 700), 
  $headline-5: mat.define-typography-level(18px, 24px, 700),
  $body-1: mat.define-typography-level(16px, 24px, 400),
  $body-2: mat.define-typography-level(14px, 20px, 400), 
);

// GAMA COLORES
$my-primary-color: (
  100: #4DB6AC,    // Lighter orange
  200: #4DB6AC,    // Lighter orange
  500: #4DB6AC,    // Pink
  700: #4DB6AC,    // Pink
  contrast: (
    100 : #ffffff,
    200 : #ffffff,
    500 : #ffffff,
    700 : #ffffff,
  )
);

$my-accent-color: (
  100: #80CBC4,    
  200: #4DB6AC,    
  500: #4DB6AC,    
  700: #4DB6AC,   
  contrast: (
    100 : #000000,
    200 : #000000,
    500 : #000000,
    700 : #000000,
  )
);

$my-warn-color: (
  100: #fcc999,    // Lighter orange
  200: #fcc999,    // Lighter orange
  500: #fcc999,    // Orange
  700: #fcc999,    // Orange
  contrast: (
    100 : #000000,
    200 : #000000,
    500 : #000000,
    700 : #000000,
  )
);

// PALETA DE COLORES
$my-palette-primary: mat-palette($my-primary-color);
$my-palette-accent: mat-palette($my-accent-color);
$my-palette-warn: mat-palette($my-warn-color);

// TEMA PROPIO
$my-theme: mat-light-theme((
  color: (
    primary: $my-palette-primary,
    accent: $my-palette-accent,
    warn: $my-palette-warn
  ),
  typography: $custom-typography,
));

// APLICAR NUESTRO TEMA A ANGULAR
@include mat.all-component-themes($my-theme);


// REEMPLAZA EN ANGULAR.JSON -> STYLES
// "./node_modules/@angular/material/prebuilt-themes/indigo-pink.css",
// POR LA RUTA DEL CUSTOM THEME
// "src/assets/styles/my-theme.scss",