<div class="full-width">
    <h1>Mis Próximos Eventos</h1>
</div>
<mat-nav-list>
    <span class="no-events" *ngIf="noEventsMessageVisible">Aún no tienes próximos eventos</span>
    <mat-list-item [disableRipple]="true" *ngFor="let event of events">
        <div class="event-container" fxLayout="row">
            
            <!-- Left Column -->
            <div class="left" fxFlex="33%" fxLayout="column">
                <h1 class="name">{{ event.name }}</h1>
                <div class= "image-container">
                    <img src="{{getSource(event)}}" alt="Event Image" />
                </div>
            </div>

            <mat-divider vertical></mat-divider> <!-- Vertical divider between columns -->

            <!-- Middle Column -->
            <div class="middle" fxFlex="33%" fxLayout="column">
                <div class="info-column">
                    <div class="info-row">
                        <mat-icon class="date-icon">event</mat-icon> <!-- Date icon -->
                        <p class="date">{{ event.date | date:'dd/MM/yy' }}</p>
                    </div>
                    <div class="info-row">
                        <mat-icon class="time-icon">access_time</mat-icon> <!-- Time icon -->
                        <p class="time">{{ formatTime(event?.time?.toString() || null)}}</p>
                    </div>
                    <div class="info-row">
                        <mat-icon class="location-icon">location_on</mat-icon> <!-- Location icon -->
                        <p class="neighbourhood-place">{{ event.neighborhood }} - {{ event.location }}</p>
                    </div>
                    <div class="info-row" *ngIf="event?.genrePreffered">
                        <mat-icon class="style-icon">music_note</mat-icon> <!-- Music icon -->
                        <p class="style">{{ event.genrePreffered }}</p>
                    </div>
                    <div class="info-row">
                        <mat-icon class="payment-icon">attach_money</mat-icon> <!-- Payment icon -->
                        <p class="payment">Remunerado:
                            <ng-container *ngIf="event.paid"> ✓ </ng-container>
                            <ng-container *ngIf="!event.paid"> ✕ </ng-container>
                        </p>
                    </div>                    
                    <div class="info-row-text" *ngIf="event?.equipment">
                        <p class="equipment">
                            <span class= "bold">Equipos disponibles: </span>
                            <span>{{ event.equipment }}</span>
                        </p>
                    </div>
                    <div class="info-row-text" *ngIf="event?.description">
                        <p class="description">
                            <span class= "bold">Descripción: </span>
                            <span>{{ event.description }}</span>
                        </p>
                    </div>
                </div>
            </div>

            <mat-divider vertical></mat-divider> <!-- Vertical divider between columns -->

            <!-- Right Column -->
            <div class="right" fxFlex="33%" fxLayout="column">
                <div class="artist-info"> 
                    <h1>Contacto del Artista:</h1>
                    <div class="artist-info-format" fxLayout="row">    
                        <div class="info-row">
                            <mat-icon class="art-icon">brush</mat-icon> 
                            <p>{{ event?.artist?.artisticName }}</p> 
                        </div>
                        <div class="info-row">
                            <mat-icon class="person-icon">person</mat-icon> 
                            <p>{{ event?.artist?.name }} {{ event?.artist?.lastName }}</p> 
                        </div>
                        <div class="info-row">
                            <mat-icon class="phone-icon">phone</mat-icon> 
                            <p>{{ event?.artist?.phone }}</p>
                        </div>
                        <div class="info-row">
                            <mat-icon class="mal-icon">email</mat-icon> 
                            <p>{{ event?.artist?.user?.email }}</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </mat-list-item>
</mat-nav-list>
