.full-width{
  width:100%;
  justify-content: center;
  display: flex;
  text-transform: uppercase;
}

/* Apply styles to the Angular Material list */
mat-nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    list-style-type: none;
  }
  
  /* Apply styles to the Angular Material list items */
mat-list-item {
    height: 37rem !important;
    width: 95%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Adjust shadow properties as needed */
    border-radius: 1rem;
    margin-bottom: 2rem;
    display: flex;
    transition: opacity 0.2s ease;
    background-color:#d8efed; /*no pude aplicarlo desde el theme*/
    cursor: auto; /* Set the cursor to the default arrow cursor */
    pointer-events: none; /* Disable pointer events, removing the ripple effect */
    --mat-ripple-speed: 0s; /* Set the ripple animation speed to 0s to effectively disable it */
}


/* Styling for the event-container */
.event-container {
  display: flex;
  justify-content: center;
  padding-bottom: 2px;
  padding-top: 2px;
  height: 100%;
}

/* Styling for the left column */
.left {
  flex-direction: column ;
  max-width: 40%;
  background-color:#d8efed; /*no pude aplicarlo desde el theme*/
  justify-content: center;  
  align-items: center;
  display: flex; /* Make the left column a flex container */
  width: max-content; /* Set the width to max-content */
  flex-grow: 0;
  flex-shrink: 1;
  padding: 0;
  overflow: hidden; /* Hide any overflowed text */
  white-space: nowrap; /* Prevent text from wrapping */
}

.left h1 {
  margin: 0; /* Remove any default margins for the h1 element */
  font-size: 40px; /* Increase the font size of the text */
  margin-bottom: 10px;
  margin-top: 10px;
  line-height: 40px;
  text-overflow: ellipsis; /* Display ellipsis for overflowed text */
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide any overflowed text */
  width: 100%;
}

.image-container {
  max-height: 400px; /* Maximum height for the image container */
  max-width: 100%;
  height: auto; /* Maintain aspect ratio */
  display: flex;
  align-items: center; /* Center the image horizontally */
  justify-content: center; /* Center the image vertically */
  background-color:#d8efed; /*no pude aplicarlo desde el theme*/
  border-radius: 1rem;
  margin:0px;
  margin-bottom:10px;
  margin-top: 20px; /* Adjust space above the image */
  width: max-content; /* Set the width to max-content */
}

.left img {
  max-width: 100%; /* Adjust the maximum width of the image */
  max-height: 100%; /* Allow the image to occupy the entire height of the container */
  height: auto; /* Maintain aspect ratio */
  width: auto; /* Reset the width to auto to maintain aspect ratio */
  object-fit: contain; /* Scale the image to fit inside the container while maintaining aspect ratio */
  margin:0;
  padding:0;
  border-radius: 1rem;
}

/* Styling for the middle column */
.middle {
  text-align: left; /* Center text horizontally */
  background-color:#d8efed; /*no pude aplicarlo desde el theme*/
  min-width: 20%;
  max-width: 100%;
}

.right {
  text-align: left; /* Center text horizontally */
  background-color:#d8efed; /*no pude aplicarlo desde el theme*/
  min-width: 20%;
  max-width: 100%;
  align-items: center;
  display: flex;
}

.info-column{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  white-space: pre-wrap; /* Allow text to wrap to the next line */
  word-wrap: break-word; /* Wrap long words to the next line */
  font-weight: 300;
}

.artist-info-format{
  white-space: pre-wrap; 
  word-wrap: break-word; 
}

.artist-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  white-space: pre-wrap; 
  word-wrap: break-word; 
}

mat-divider{
  width: 5px; /* Adjust the width of the divider line */
  margin: 10px 22px; /* Add some spacing above and below the divider */
}

/*style del texto*/

.name{
  text-transform: uppercase;
}

.info-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Adjust the spacing between rows */
  font-size: 18px; /* Adjust the font size for most text */
  white-space: pre-wrap; /* Allow text to wrap to the next line */
  word-wrap: break-word; /* Wrap long words to the next line */
  margin: 10px;
  padding: 2px;
  max-width: 300px;
}

.info-row p {
  margin: 0px;
  padding: 0px;
}

mat-icon {
  margin-right: 10px; /* Add some spacing between icons and text */
  vertical-align: middle; /* Vertically align the icon */
}


.info-row-text {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 18px;
  white-space: pre-wrap;
  word-wrap: break-word;
  margin: 10px;
  padding: 2px;
  overflow: auto; /* Add overflow to create a scrollbar for long text */
  max-width: 300px;
}

/* Optional: Set a fixed height to limit the scrollable area */
.info-row-text p {
  max-height: 50px;
  max-width: 100%; /* Allow text to take up the full width and break into multiple lines */
  margin: 0px;
  padding: 0px;
}

.info-row-text .bold{
  font-weight: 900;
  text-transform: uppercase;

}