
<mat-dialog-content>

  <div class= "button-container">
    <button mat-icon-button style="float:right; margin: 5px" align="right" class= "close-button" matDialogClose>
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <button mat-button class="artist" (click)="goToArtist()">
    <div class="button-content">
        <img src="/assets/images/logos/login.png" alt="Profile Image" />
        <span>Mi nombre artistico</span>
    </div>
  </button>

  <div class="message-box">
    <div class="message">
      <p class= "message-title"> Mensaje del artista:</p>
      <p>Aca va el mensaje del artista bla bla bla bla bla bla bla bla bla bla bla bla bla bla </p>
    </div>
  </div>

</mat-dialog-content>
  