<div>
    <form [formGroup]="registrationForm" (ngSubmit)="register()">
        <mat-dialog-content>
            <div class="row">
                <header class="center-header">
                    <h1 class="mat-headline-1">Registrarse</h1>
                </header>
                <button mat-icon-button class="right-align" matDialogClose>
                    <mat-icon>close</mat-icon>
                </button>
            </div>
            <div class="row">
                <mat-form-field>
                    <mat-label>Tipo de usuario</mat-label><!--esto aparece arriba del input-->
                    <mat-select formControlName="userType" (valueChange)="toggleUserType($event)">
                        <mat-option value="artist">Artista</mat-option>
                        <mat-option value="business">Negocio</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" placeholder="Email">
                    <mat-error *ngIf="registrationForm.get('email')?.hasError('email')">
                        Por favor ingrese un mail válido.
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="row">
                <!-- Column 1 -->
                <div class="col">
                    <mat-form-field>
                        <mat-label>Contraseña</mat-label>
                        <input matInput [type]="passwordInputType1" formControlName="password" placeholder="Password">
                        <button mat-icon-button matSuffix type="button" (click)="togglePasswordVisibility1()">
                            <mat-icon>{{ hidePassword1 ? 'visibility_off' : 'visibility' }}</mat-icon>            
                        </button>
                    </mat-form-field>
                </div>
                <!-- Column 2 -->
                <div class="col">
                    <mat-form-field>
                        <mat-label>Repetir contraseña</mat-label>
                        <input matInput [type]="passwordInputType2" formControlName="password2" placeholder="Password">
                        <button mat-icon-button matSuffix type="button" (click)="togglePasswordVisibility2()">
                            <mat-icon>{{ hidePassword2 ? 'visibility_off' : 'visibility' }}</mat-icon>            
                        </button>
                    </mat-form-field>
                </div>
            </div>
            <!-- Artist-specific fields -->
            <div *ngIf="userType === 'artist'">
                <div class="row">
                    <!-- Column 1 -->
                    <div class="col">
                        <mat-form-field>
                            <mat-label>Nombre</mat-label>
                            <input matInput formControlName="name" placeholder="Nombre">
                        </mat-form-field>
                    </div>
                    <!-- Column 2 -->
                    <div class="col">
                        <mat-form-field>
                            <mat-label>Apellido</mat-label>
                            <input matInput formControlName="lastName" placeholder="Apellido">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <!-- Column 1 -->
                    <div class="col">
                        <mat-form-field>
                            <mat-label>Cédula</mat-label>
                            <input matInput formControlName="id" placeholder="ej.: 12134715">
                        </mat-form-field>
                    </div>
                    <!-- Column 2 -->
                    <div class="col">
                        <mat-form-field>
                            <mat-label>Teléfono</mat-label>
                            <input matInput formControlName="phone">
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <!-- Business-specific fields -->
            <div *ngIf="userType === 'business'">
                <div class="row">
                    <!-- Column 1 -->
                    <div class="col">
                        <mat-form-field>
                            <mat-label>Nombre</mat-label>
                            <input matInput formControlName="name" placeholder="Nombre">
                        </mat-form-field>
                    </div>
                    <!-- Column 2 -->
                    <div class="col">
                        <mat-form-field>
                            <mat-label>Teléfono</mat-label>
                            <input matInput formControlName="phone">
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <!-- Column 1 -->
                    <div class="col">
                        <mat-form-field>
                            <mat-label>Rut</mat-label>
                            <input matInput formControlName="rut">
                        </mat-form-field>
                    </div>
                    <!-- Column 2 -->
                    <div class="col">
                        <mat-form-field>
                            <mat-label>Razón Social</mat-label>
                            <input matInput formControlName="legalName">
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <!-- Column 1 -->
                    <div class="col">
                        <mat-form-field>
                            <mat-label>Ubicación</mat-label>
                            <input matInput formControlName="location">
                        </mat-form-field>
                    </div>
                    <!-- Column 2 -->
                    <div class="col">
                        <mat-form-field>
                            <mat-label>Página Web</mat-label>
                            <input matInput formControlName="webPage">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <mat-form-field>
                        <mat-label>Descripción</mat-label>
                        <textarea matInput formControlName="description"></textarea>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <mat-checkbox formControlName="terms">He leído y acepto los términos y condiciones</mat-checkbox>
            </div>
            <div class="row">
                <p *ngIf="failureMessage" class="failure-message">{{ failureMessage }}</p>
                <button mat-raised-button class="right-align" color="primary" [disabled]="isButtonDisabled()"
                    type="submit">Siguiente</button>
            </div>
        </mat-dialog-content>
    </form>
</div>