mat-dialog-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.right-align {
  text-align: right;
  margin: 5px;
  align-items: right;
  justify-content: space-between;
  margin-left: auto;
}

.mat-headline-1{
  text-align: center;
}
.center-header {
  flex: 1; /* This makes the header take up available vertical space */
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-mdc-dialog-content {
  max-height: 100%;
}

.mat-dialog-container {
  height: 100%;
}

mat-form-field {
  width: 100%;
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
  /*padding: 15px;*/
}

.row {
  display: flex;
  padding: 5px;
  width: 100%;
}

.col {
  flex: 1;
}

.ng-star-inserted {
  width: 100%;

}

.failure-message {
  color: red;
  text-align: center; /* Center horizontally */
  margin: 10px 0; /* Add space above and below the message */
}

.terms{
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  align-items: center; /* Vertically center items */
  width:100%;
}