mat-dialog-content{
    width: 100%;
    height: 100%;
    text-align: center;
  }

  .mat-mdc-dialog-content {
    max-height: 100%; /* Change the value as needed */
}
  
 mat-form-field {
    width: 100%; /* Adjust the width as needed */
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }